@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background-color: rgb(12, 9, 17);
}

li {
    transition: all 0.30s;
}

.top li:hover {
    font-size: 2rem;
}

.space {

    display: block;
    height: 150px;
    width: 100%;
}

.top {
    position: fixed;
    display: flex;
    list-style: none;
    gap: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 60px;
    justify-content: center;
    font-family: arial;
    font-weight: bold;
}

.top a {
    text-decoration: none;
    color: rgb(141, 138, 138);
}

.top a:hover {
    color: white;
}


.top li:hover {
    font-size: 2rem;
}

.top li:active {
    padding-bottom: 3rem;
    opacity: 0.7;
}

.top li:visited {
    font-size: 2rem;
    padding-bottom: 3rem;
    border-bottom: 4px solid white;
}

.b {
    font-size: 2rem;
}


.shadow {
    z-index: -1;
    height: 210px;
    width: 40%;
    position: fixed;
    margin: auto;
    filter: blur(100px);
    top: 200px;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, rgb(245, 7, 126), rgb(0, 162, 255));
}


h1 , .b{
    background: linear-gradient(to right, #f700ff 0%, #0099ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    text-align: justify;
    width: 25%;
    height: 120px;
    color: white;
    border: 1px solid rgb(63, 62, 62);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    font-family: arial;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    overflow: hidden;
    margin-right: 1px;
    margin-top: 10px;
    transition: height 0.5s;
    
}

.card h1 {
    font-family:"Lilita One";
    text-align: center;
    cursor: default ;
}

.card:hover {
    height: 250px;
}

p {
    padding-top: 50px;
    display: block;
    cursor: default;
}


 
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
}